#navbar {
  background: rgb(159, 43, 161);
}

#navbar .nav-container {
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 830px) {
  #navbar .nav-container {
    width: 85%;
  }
}
@media screen and (max-width: 700px) {
  #navbar .nav-container {
    width: 95%;
  }
}
a{
  text-decoration: none;
}
#navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#navbar ul li {
  color: wheat;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  transition: 0.4s;
}
#navbar ul li:hover {
  color: rgb(159, 43, 161);
  background: wheat;
}
@media screen and (max-width: 830px) {
  #navbar ul li {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 10px;
  }
}
@media screen and (max-width: 700px) {
  #navbar ul li {
    font-size: 0.8rem;
  }
}