@font-face {
  font-family: "InterM";
  src: url(../../fonts/Inter-Medium.ttf);
}
* {
  padding: 0;
  margin: 0;
  font-family: "InterM", serif;
}

li,
a {
  list-style-type: none;
  text-decoration: none;
}

body {
  background: wheat;
}

.jeuContainer {
  width: 70%;
  margin: 30px auto;
  padding: 40px 60px;
  border: 1px solid black;
  border-radius: 30px;
  position: relative;
  border: none;
  box-shadow: 0px 0px 22px 8px rgb(159, 43, 161);
}
@media screen and (max-width: 730px) {
  .jeuContainer {
    padding: 25px;
  }
}
.jeuContainer #title {
  text-align: center;
  color: rgb(159, 43, 161);
  letter-spacing: 2px;
  font-weight: 600;
  padding: 10px 0;
  font-size: 2rem;
  text-transform: uppercase;
}
@media screen and (max-width: 1000px) {
  .jeuContainer #title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 780px) {
  .jeuContainer #title {
    font-size: 1.2rem;
  }
}
.jeuContainer .infosParties {
  display: flex;
  position: relative;
  color: rgb(159, 43, 161);
}
.jeuContainer .infosParties #nomVille {
  margin-left: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
.jeuContainer .infosParties #points {
  position: absolute;
  right: 0;
}
.jeuContainer #containerProgressBar {
  display: none;
  background: white;
  width: 100%;
  height: 30px;
  border-radius: 30px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 83px 8px rgb(0, 0, 0);
}
.jeuContainer #containerProgressBar #progressBar {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  background: rgb(247, 0, 0);
  background: linear-gradient(90deg, rgb(247, 0, 0) 18%, rgb(210, 98, 0) 34%, rgb(238, 251, 21) 70%, rgb(0, 255, 4) 100%);
}
.jeuContainer #map {
  position: relative;
  height: 70%;
  z-index: 1;
  margin: auto auto;
  border-radius: 30px;
  background: rgb(159, 43, 161);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 22px 8px #673ab7;
}
@media screen and (max-width: 780px) {
  .jeuContainer #map {
    height: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .jeuContainer #map {
    width: 70%;
  }
}
@media screen and (max-width: 1200px) {
  .jeuContainer #map {
    width: 100%;
  }
}
.jeuContainer #map #accueilJeu {
  width: 60%;
  margin: 0 auto;
  color: wheat;
}
.jeuContainer #map #accueilJeu h2 {
  text-align: center;
}
@media screen and (max-width: 780px) {
  .jeuContainer #map #accueilJeu h2 {
    font-size: 1rem;
  }
}
.jeuContainer #map #accueilJeu h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}
@media screen and (max-width: 780px) {
  .jeuContainer #map #accueilJeu h1 {
    font-size: 2rem;
  }
}
.jeuContainer #map #accueilJeu p {
  padding: 80px 0 30px;
  text-align: center;
  font-size: 1.4rem;
}
@media screen and (max-width: 780px) {
  .jeuContainer #map #accueilJeu p {
    padding: 30px 10px;
    font-size: 0.9rem;
  }
}
.jeuContainer #map #accueilJeu button {
  cursor: pointer;
  color: rgb(159, 43, 161);
  background: rgb(255, 224, 54);
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  transition: 0.4s ease-in-out;
}
.jeuContainer #map #accueilJeu button:hover {
  transform: scale(1.05);
  background: rgb(248, 236, 165);
}
.jeuContainer #map #accueilJeu #lancerAvecChrono {
  padding: 10px 80px;
  font-size: 2.4rem;
  font-weight: 800;
  border-radius: 60px;
  border: none;
}
@media screen and (max-width: 730px) {
  .jeuContainer #map #accueilJeu #lancerAvecChrono {
    padding: 8px 60px;
    font-size: 1.7rem;
  }
}
.jeuContainer #map #accueilJeu #lancerSansChrono,
.jeuContainer #map #accueilJeu #seConnecter {
  padding: 10px 30px;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 60px;
  border: none;
}
@media screen and (max-width: 730px) {
  .jeuContainer #map #accueilJeu #lancerSansChrono,
.jeuContainer #map #accueilJeu #seConnecter {
    padding: 7px 20px;
    font-size: 1rem;
  }
}
.jeuContainer #map span {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  z-index: 2000;
  font-size: 2.4rem;
  padding: 10px;
  color: rgba(41, 152, 255, 0.813);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.jeuContainer #map span:hover {
  transform: scale(1.1);
}
.jeuContainer #map #popup {
  position: absolute !important;
  display: none;
  text-align: center;
  text-transform: uppercase;
  background: gray;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  z-index: 100000;
  transition: 2s ease-in-out;
  border-radius: 25px;
  letter-spacing: 2px;
  color: wheat;
  background: rgb(159, 43, 161);
}
@media screen and (max-width: 780px) {
  .jeuContainer #map #popup h1,
.jeuContainer #map #popup h2 {
    font-size: 0.8rem;
  }
}
.jeuContainer #map #popup img {
  height: 90%;
  width: 90%;
  padding: 10px;
}
.jeuContainer #map #popup button {
  margin: 10px;
  padding: 10px 20px;
  color: rgb(159, 43, 161);
  background: wheat;
  font-size: 1.5rem;
  font-weight: 700;
  transition: 0.4s ease-in-out;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.jeuContainer #map #popup button:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 780px) {
  .jeuContainer #map #popup button {
    font-size: 1rem;
    font-weight: 600;
    margin: 5px;
    padding: 5px 10;
  }
}

#navbar {
  background: rgb(159, 43, 161);
}

#navbar .nav-container {
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 830px) {
  #navbar .nav-container {
    width: 85%;
  }
}
@media screen and (max-width: 700px) {
  #navbar .nav-container {
    width: 95%;
  }
}

#navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#navbar ul li {
  color: wheat;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  transition: 0.4s;
}
#navbar ul li:hover {
  color: rgb(159, 43, 161);
  background: wheat;
}
@media screen and (max-width: 830px) {
  #navbar ul li {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 10px;
  }
}
@media screen and (max-width: 700px) {
  #navbar ul li {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=index.css.map *//*# sourceMappingURL=index.css.map */